

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [10]:
x = 10
type(x)

int

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [11]:
is_valid = True
type(is_valid)

bool

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [12]:
name = "Python Programming"
type(name)

str

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [13]:
sum_result = 5 + 3
print(sum_result)
type(sum_result)

8

int

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [15]:
a,b,c = 5, 10, 15
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

5 10 15
<class 'int'>
<class 'int'>
<class 'int'>

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [9]:
x = y = 9
print(x,y)

9 9

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [16]:
gravity = 9.8
type(gravity)

float

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [17]:
country = "Botswana"
print(country, type(country))

Botswana <class 'str'>

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [21]:
age = 25
print(age)
age = 26
print(age)
type(age)

#age = 25; age =26
#print(age)

25
26

int

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [22]:
sub = 20 - 7
print(sub)

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [24]:
int_val = 6
flo_val = 3.4
print(int_val, flo_val, type(int_val), type(flo_val))

6 3.4 <class 'int'> <class 'float'>

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [25]:
is_completed = False
print(is_completed, type(is_completed))

False <class 'bool'>

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [28]:
x = 5
y = 7
x,y = y, x
print("x =", x, ", y =", y)

x = 7 , y = 5

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [29]:
complex_num = 3 + 4j
print(complex_num, type(complex_num))

(3+4j) <class 'complex'>

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [31]:
val = 99
print(val, type(val))
val = str(val)
print(val, type(val))

99 <class 'int'>
99 <class 'str'>

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [34]:
first_name = "Kutlo"
last_name = "Kejang"
print(first_name + " " + last_name)

Kutlo Kejang

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [35]:
temperature = 35.5
print(temperature, type(temperature))

35.5 <class 'float'>

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [36]:
product = 8*6
print(product, type(product))

48 <class 'int'>

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [40]:
sentence = input("Hey there, darling! \nHow are you doing?")

Hey there, darling!
How are you doing? Very well, thank you!

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [43]:
fifty = '50'
print(fifty, type(fifty))
int_value = int(fifty)
print(int_value, type(int_value))

50 <class 'str'>
50 <class 'int'>

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [51]:
quotient = 144 / 12 #Returns a float
#quotient = 144 // 12 # Gives integer output / floor division
print(quotient)

12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [56]:
remainder = float(47 % 5) #Not double %% # Added the float to make it a float but without it, it always returns an integer.
print(remainder, type(remainder))

2.0 <class 'float'>

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [57]:
is_student = True
print(is_student, type(is_student))

True <class 'bool'>

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [59]:
rem = 45 % 4
print(rem, type(rem))

1 <class 'int'>

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [60]:
pi = 3.14159
print(pi, type(pi))

3.14159 <class 'float'>

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [62]:
length = 3.5
width = 2
area = length * width
print("The area of a rectangle with length", length, "and width", width, "is", area)

The area of a rectangle with length 3.5 and width 2 is 7.0

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [63]:
negative_value = -6
print(negative_value, type(negative_value))

-6 <class 'int'>

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [71]:
greeting = "Hello, world!"
print(greeting)
name = input("Please enter your name: ")
print("Hello,", name)

Hello, world!

Please enter your name:  Jay!

Hello, Jay!

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [81]:
population = 4 * (10 ** 9) #If it's 4.0, there would be a decimal and a zero thereafter.
print(population, type(population))

4000000000 <class 'int'>

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [83]:
res = 2** 8
print(res)

256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [86]:
fruits = ["mango", "watermelon", "grapes", "bananas", "almond nuts"]
print(fruits, type(fruits))

['mango', 'watermelon', 'grapes', 'bananas', 'almond nuts'] <class 'list'>

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [88]:
coordinates = (1, 2, 3)
print(coordinates, type(coordinates))

(1, 2, 3) <class 'tuple'>

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [128]:
person = {"new_name": ["Kutlo Kejang", "Swita Kejang"],
          "new_age": [23, 61]}
print(person, type(person))

{'new_name': ['Kutlo Kejang', 'Swita Kejang'], 'new_age': [23, 61]} <class 'dict'>

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [96]:
sums = 6.6 + 6.6
print(sums, type(sums))

13.2 <class 'float'>

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [97]:
is_sunny = 10>5
print(is_sunny, type(is_sunny))

True <class 'bool'>

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [98]:
new_string = "Gaone"
new_int = 23
print(new_string, "is", new_int, "years old.")

Gaone is 23 years old.

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [103]:
t = 9989
t = bool(t)
print(t, type(t))
print(int(t), type(t)) #Changes the True to 1. If it was False, it would be 0.

True <class 'bool'>
1 <class 'bool'>

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [108]:
is_weekend = False #No F or FALSE
print(is_weekend)

False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [113]:
description = '''Hello, there! 
I am Kutlo. 
Who are you?'''
print(description, type(description))

Hello, there!
I am Kutlo.
Who are you? <class 'str'>

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [114]:
abs_val = abs(-25)
print(abs_val)

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [115]:
floor_div_result = 100 // 6
print(floor_div_result)

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [116]:
mixed_sum = 6.7 + 9
print(mixed_sum)

15.7

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [130]:
a = 10
b = 15
largest_num = b>a
other_num = a>b
print(largest_num)
print(other_num)

True
False

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [124]:
sen = "I am here learning the Python Programming language."
len(sen)

51

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [125]:
division_result = 7/3
print(division_result, type(division_result))

2.3333333333333335 <class 'float'>

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [136]:
speed = [100, "kilometers per hour"]
print(speed[0], speed[1])

100 kilometers per hour

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [143]:
x = 4; y = (3*x) + 5
print(y)

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [150]:
import statistics

g = [7, 0.99, -5.3]
av_of_nums = statistics.mean(g)
print(av_of_nums)

0.8966666666666667